//colores
$colorTitulo: #fff254;
$colorParrafo: rgb(246, 100, 139);
$morado: #f47ea7;
$blanco: #fff ;
$morado-oscuro: #4e1a71;

$instagram: #f56d9c;
$faceboock: #42f6b7;
$linkedin: #6adaf3;
$youtube: #f56884;
$twitter: #858585;
$pinterest: #f18538;



//fuentes
$fuente-principal: Arial;

$primary-font: Open Sans, sans-serif;
$secondary-font: Abril Fatface, cursive;